friends' projects/sadeed/dsa/bin/prob_1.exe
friends' projects/sadeed/dsa/bin/bubbleSort.exe
friends' projects/sadeed/dsa/bin/insertionSort.exe
friends' projects/sadeed/dsa/bin/mergeSort.exe
friends' projects/sadeed/dsa/bin/selectionSort.exe
butex_lab/lab5/bin/prob_7.exe
butex_lab/lab5/bin/prob_10.exe
butex_lab/lab5/bin/prob_11.exe
butex_lab/lab5/bin/prob_8.exe
butex_lab/lab5/bin/prob_12.exe
butex_lab/lab5/bin/prob_13.exe
butex_lab/lab5/bin/prob_14.exe
butex_lab/lab5/bin/prob_15.exe
butex_lab/lab5/bin/prob_5.exe
butex_lab/lab5/bin/prob_5.o
butex_lab/butex_assignment/bin/prob_1.exe
butex_lab/butex_assignment/bin/prob_2.exe
butex_lab/butex_assignment/bin/prob_3.exe
butex_lab/butex_assignment/bin/prob_4.exe
butex_lab/butex_assignment/bin/prob_5.exe
butex_lab/butex_assignment/bin/prob_6.exe
butex_lab/butex_assignment/bin/prob_7.exe
butex_lab/butex_assignment/bin/prob_8.exe
butex_lab/butex_assignment/bin/prob_9.exe
butex_lab/butex_assignment/bin/prob_10.exe
butex_lab/butex_assignment/bin/prob_11.exe
butex_lab/butex_assignment/bin/prob_12.exe
butex_lab/butex_assignment/bin/prob_13.exe
butex_lab/butex_assignment/bin/prob_35.exe
butex_lab/butex_assignment/bin/prob_36.exe
butex_lab/butex_assignment/bin/prob_41.exe
butex_lab/butex_assignment/bin/prob_42.exe
butex_lab/butex_assignment/bin/prob_43.exe
friends' projects/roni/mid_assignment_ds_lab/bin/test.exe
butex_lab/butex_assignment/bin/prob_14.exe
butex_lab/butex_assignment/bin/prob_15.exe
butex_lab/butex_assignment/bin/prob_16.exe
butex_lab/butex_assignment/bin/prob_17.exe
butex_lab/butex_assignment/bin/prob_18.exe
butex_lab/butex_assignment/bin/prob_19.exe
butex_lab/butex_assignment/bin/prob_20.exe
butex_lab/butex_assignment/bin/prob_21.exe
