friends' projects/sadeed/dsa/bin/
butex_lab/lab5/bin/
friends' projects/roni/mid_assignment_ds_lab/bin/
butex_lab/butex_assignment/bin/
butex_lab/lab6/bin/
friends' projects/roni/12-11-2022/bin/main.exe
butex_lab/lab7/bin/
sorting_algorithms/bin/
perceptron/bin/main.exe
butex_lab/practice/bin
Trie_Project001/bin/
Trie_Project001/bin/main.exe
friends' projects/roni/26-12-2022/bin/mySTL.exe
