friends' projects/sadeed/dsa/bin/prob_1.exe
friends' projects/sadeed/dsa/bin/bubbleSort.exe
friends' projects/sadeed/dsa/bin/insertionSort.exe
friends' projects/sadeed/dsa/bin/mergeSort.exe
friends' projects/sadeed/dsa/bin/selectionSort.exe
